<html>
	<head>
    	<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    	<script type="text/javascript">
    	function search()
    	{
    		searchWithIds(<%= @prominentIds.to_json.html_safe %>, <%= @advocacyIds.to_json.html_safe %>);
    	}
    	function move()
    	{
   		 $(".title").animate({fontSize:"50px"},1500);
   		 $(".headerImg").animate({height:0},300);
   		 $(".tagLine").delay(300).queue( function(next){$(this).css('display','inline-block');next();});
   		 $(".header").animate({borderLeftWidth: "200px"},1500);
    	}
    	</script>
	</head>
	<body onload="initSearch()">
		<input type="hidden" id="landingPage" value="true"/>
		<div class="header">
			<a class="title", href="home">NewsTube</a>
			<span class="tagLine">a better news video search</span>
			<div>
				<img class="headerImg" src="assets/andersonCooperColor.png"/>
				<img class="headerImg" src="assets/handsColor.png"/>
				<img class="headerImg" src="assets/videographerColor.png"/>
			</div>
			
			<form action="javascript:move();"><input id="query" class="search" type="text" placeholder="Search" />
				<btn class="btn" onclick="search();move();">Go!</btn></label>
			</form>
		</div>
		
		<div class="categories">
			<div class="category" onclick="toggleCategory('prominent')">MEDIA SOURCES</div>
			<div id="prominentTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos from Prominent International News Sites</div>
			</div>
			<div id="prominentWrapper" class="videoListWrapper">
				<div id="prominent" class="videoList">
				</div>
			</div>

			<div class="category" onclick="toggleCategory('local')">LOCAL</div>
			<div id="localTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos from local TV News Stations</div>
				<div class="zipcodeform">
					<h4 class="zipcodelabel">ZIP Code: </h4>
					<input id="zipcode" type="text" />
					<btn class="btn zipcodebtn" onclick="searchLocal()">Update</btn>
				</div>
			</div>
			<div id="localWrapper" class="videoListWrapper">
				<div id="local" class="videoList">
				</div>
				<div id="hiddenLocalHelper" style="display:none"></div>
			</div>

			<div class="category" onclick="toggleCategory('documentary')">DOCUMENTARY</div>
			<div id="documentaryTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Documentary video</div>
			</div>
			<div id="documentaryWrapper" class="videoListWrapper">
				<div id="documentary" class="videoList">
				</div>
			</div>

			<div class="category" onclick="toggleCategory('twitter')">TWITTER</div>
			<div id="twitterTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos that are trending on twitter</div>
			</div>
			<div id="twitterWrapper" class="videoListWrapper">
				<div id="twitter" class="videoList">
				</div>
				<div id="hiddentwitter" style="display:none"></div>
			</div>

			<div class="category" onclick="toggleCategory('advocacy')">ADVOCACY</div>
			<div id="advocacyTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos made by advocacy groups</div>
			</div>
			<div id="advocacyWrapper" class="videoListWrapper">
				<div id="advocacy" class="videoList">
				</div>
			</div>
		</div>
	</body>
</html>