<html>
	<head>
    	<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
	</head>
	<body onload="init()">
		<input type="hidden" id="currentCategory" value="">

		<div class="header">
			<a class="title" href="home">NewsTube</a>
			<div>
				<img class="headerImg" src="assets/andersonCooperColor.png"/>
				<img class="headerImg" src="assets/handsColor.png"/>
				<img class="headerImg" src="assets/videographerColor.png"/>
			</div>
			
			<input id="query" class="search" type="text" placeholder="Search" />
		    <btn class="btn" onclick="search()">Go!</btn></label>
		</div>
		
		<div class="categories">
			<span class="category" onclick="toggleCategory('#prominentWrapper')">MEDIA SOURCES</span>
			<div id="prominentWrapper" class="videoListWrapper">
				<div class="triangle"></div>
				<div id="prominent" class="videoList">
				</div>
			</div>

			<span class="category" onclick="toggleCategory('#localWrapper')">LOCAL</span>
			<div id="localWrapper" class="videoListWrapper">
				<div class="triangle"></div>
				<div id="local" class="videoList">
				</div>
			</div>

			<span class="category" onclick="toggleCategory('#documentaryWrapper')">DOCUMENTARY</span>
			<div id="documentaryWrapper" class="videoListWrapper">
				<div class="triangle"></div>
				<div id="documentary" class="videoList">
				</div>
			</div>

			<span class="category" onclick="toggleCategory('#twitterWrapper')">TWITTER</span>
			<div id="twitterWrapper" class="videoListWrapper">
				<div class="triangle"></div>
				<div id="twitter" class="videoList">
				</div>
			</div>

			<span class="category" onclick="toggleCategory('#homevideosWrapper')">HOME VIDEOS</span>
			<div id="homevideosWrapper" class="videoListWrapper">
				<div class="triangle"></div>
				<div id="homevideos" class="videoList">
				</div>
			</div>
		</div>
	</body>
</html>