<html>
	<head>
	</head>
	<body>
		<div class="title">NewsTube</div>
		<div>
			<img src="assets/andersonCooperColor.png"/>
			<img src="assets/handsColor.png"/>
			<img src="assets/videographerColor.png"/>
		</div>


		<div id="buttons">
	      <label> <input id="query" class="search" value='cats' type="text"/>
	      	<btn class="btn searchBtn" id="search-button" onclick="search()">Go!</btn></label>
	    </div>
	    <div id="search-container">
	    </div>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	    <script src="auth.js"></script>
	    <script src="search.js"></script>
	    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
	</body>
</html>