<html>
  <head>
    <div class="header2">
			<div id="headerContents">
				<div class="logo">
					<a class="title", href="home">NewsTube</a>
					<span class="tagLine">a better news video search</span>
				</div>
				
				<form class="queryForm" action="javascript:search()">
					<input id="query" class="search" type="text" placeholder="Search" />
					<button class="btn">Go!</button>
				</form>
                                
			</div>
		</div>
  </head>
  <body>
  <p class="text-left">Top Trending News Videos...</p>
                                <div class="embed-container">
                                  
                                <iframe src="//www.youtube.com/embed/DokUjuZmpCE"></iframe>
                                </div>  
  </body>
</html>