@import "bootstrap";

@font-face { 
	font-family: 'StMarie-Thin'; 
	src: font-url('StMarie-Thin.otf');
}

body { 
	min-width: 560px;
	font-family: 'StMarie-Thin';
	text-align: center;
	background-color: black;
	color: white;
}

.header {
	margin: 50px 0px;
}

.title {
	font-size: 45px;
	color: white;
}

.title:hover {
	text-decoration: none;
	color: white;
}

.headerImg {
	margin: 15px 10px 25px 10px;
	height:90px;
}

.search {
	width:280px;
	margin-right: 10px;
}

.category {
	border-color: #222;
	display: block;
	font-size: 20px;
	padding: 15px 0px;
}

.category:hover {
	cursor:pointer;
	color: #ccc;
	font-weight: bold;
}

.videoList{
	height:210px;	
	display:none;
	background: #222;
	min-width: 1000px;
}

.vid {
	width: 160px;
	margin: 0px 20px;
	display:inline-block;
}

.triangle {
    width: 0;
    height: 0;
    border: solid 20px;
    display: inline-block;
    border-color: black transparent transparent transparent;
}