@import "bootstrap";

@font-face { 
	font-family: 'StMarie-Thin'; 
	src: font-url('StMarie-Thin.otf');
}

body { 
	font-family: 'StMarie-Thin';
	text-align: center;
	background-color: black;
	color: white;
}

.title {
	font-size: 140px;
	margin-top:80px;
	width:100%;
	line-height: 140px;
}

.search {
	margin-top:30px;
	width:375px;
}

.searchBtn {
	margin-left: 8px;
	margin-top: 20px;
}

img {
	height:125px;
}